-e .
torch==2.2.0+cu118
torchvision==0.17.0+cu118
lightning
torch-geometric==2.4.0
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
-f https://data.pyg.org/whl/torch-2.2.0+cu118.html
rdkit
wandb
ase
